@font-face {
    font-family: fuenteweb;
    src: url(quicksandmedium.ttf);
}

.color-nav{
    background-color: black;
}

body{
    padding-top: 50px; 
}

.Header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#imglogo{
   /*margin-left: 20px;*/
    /*position: absolute;
    left: 1rem;
    top: 0;*/
}

Nav.Link{
    color: white;
}

h5:hover{
    color: #65DF48;
}

#nav{
    align-items: center;
}

#botonacercade{
    margin-top: 5px;
    background-color: transparent;
    border: none;
}

#botonprofile{
    margin-top: 5px;
    background-color: transparent;
    border: none;

}

#botonuserlist{
    margin-top: 5px;
    background-color: transparent;
    border: none;
}

#botonlogin{
    margin-top: 5px;
    background-color: transparent;
    border: none;
    
}

#botoncontactanos{
    margin-top: 5px;
    background-color: transparent;
    border: none;
}

#botoninicio{
    margin-top: 5px;
    background-color: transparent;
    border: none;
}

#botonmapa{
    margin-top: 5px;
    background-color: transparent;
    border: none;
}

.linkText{
    color: white;
    font-family: fuenteweb;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.toggle_menu{
    display: none;
}

@media (max-width: 850px){
    .toggle_menu{
        display: block;
        position: absolute;
        right: 0.5rem;
        top: 0.6rem;
    }
    

   #nav{
    display: none;
   }
      
    #imglogo{
        margin-left: 0;
    }
    #botonacercade{
        border: none;
    }
    
    #botonprofile{
        border: none;
    }
    
    #botonuserlist{
        border: none;
    }
    
    #botonlogin{
        border: none;
    }
    
    #botoncontactanos{
        border: none;
    }
    
    #botoninicio{
        border: none;
    }
    
    #botonmapa{
        border: none;
    }
}

